= f.input :customer_name, label: 'Your name'
= f.input :customer_email, label: 'Your email'
= f.association :department, prompt: 'Choose a department'
= f.input :subject
= f.input :body, label: 'Description', input_html: {rows: "5"}
