%tr{class: ticket.aasm_state}
  - cache ticket do
    %td.col-md-1.vert-align= ticket.uref
    %td.col-md-2.vert-align= link_to ticket.subject, ticket
    %td.col-md-1.vert-align= ticket.customer_name
    %td.col-md-1.vert-align= ticket.customer_email
    %td.col-md-1.vert-align= ticket.department.name
    %td.col-md-3.vert-align= truncate ticket.body
    %td.col-md-1.vert-align= ticket.aasm_state.humanize
    %td.col-md-1.vert-align= ticket.created_at.strftime('%b %-m, %Y %T')
    %td.col-md-1.vert-align= ticket.updated_at.strftime('%b %-m, %Y %T')
